@charset "utf-8";
@import "../variables";

/*
高考课堂详情
*/
.class-collage-detail {
  h3{
    font-size: 20px;
    color: #666666;
    margin-bottom: 10px;
  }
  .video-container{
    overflow: hidden;
    background-color: #f1f1f1;
    .video-class{
      width: 100%;
      height: 530px;
    }
    .video-about{
      height: 45px;
      line-height: 45px;
      background-color: #818181;
      text-align: right;
      color: #ccc;
      padding:0 20px;
    }
  }
}

.detail-container{
  overflow: hidden;
  h3{
    font-size: 18px;
    color: #65c88f;
  }
  .content-left{
    width: 680px;
    float: left;
    .select{
      border-radius: 3px;
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 10px;
      width: 310px;
      height: 40px;
      line-height: 40px;
      padding:0 10px;
      box-sizing: border-box;
      border:1px solid #f1f1f1;
      a{
        color: $fontBaseColor;
      }
    }
  }
  .content-right{
    width: 320px;
    float: left;
    li{
      line-height: 28px;
      b{
        line-height: 30px;
        display: inline-block;
      }
    }
  }
}






