@charset "utf-8";
@import "../variables";

.crumb {
  margin-bottom: 10px;
}

//高考头条
.gk-headlines {
  .headlines-list {
    width: 10040px;
    margin: 20px 0 0;
    .box {
      margin-right: 20px;
      margin-bottom: 10px;
      float: left;
      width: 235px;
      height: 245px;
      overflow: hidden;
      .img-cover {
        height: 145px;
        overflow: hidden;
        display: block;
        img {
          background-color: #f1f1f1;
          transition: all ease-in-out .5s;
          height: 145px;
          width: 235px;
          overflow: hidden;
          &:hover {
            transform: scale(1.23);
          }
        }
      }
      h3 {
        padding: 0;
        margin: 0;
        line-height: 34px;
        overflow:hidden;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        -webkit-text-overflow:ellipsis;
        -moz-text-overflow:ellipsis;
        white-space:nowrap;
        a {
          font-size: 16px;
          color: $fontBaseColor;
          transition: all ease-in-out .2s;
          &:hover {
            color: $yellowColor;
          }
        }
      }
      p {
        color: #999;
        font-size: 14px;
        margin: 0;
        line-height: 18px;
        overflow: hidden;
        height: 35px;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        span {
          line-height: 24px;
        }
      }
    }
    .advertise {
      clear: both;
      margin: 20px 0 0;
      width: 1000px;
      height: 130px;
      background-color: #f1f1f1;
    }
  }
}

//高考热点
.gk-hot-information {
  .data-module {
    .box {
      padding: 20px 0 20px 0;
      height: 160px;
      border-bottom: 1px dashed #ccc;
      img {
        float: left;
        width: 180px;
        height: 120px;
        margin-right: 20px;
        background-color: #f1f1f1;
      }
      .txt {
        a {
          color: $fontBaseColor;
          transition: all ease-in-out .2s !important;;
          &:hover {
            color: $yellowColor !important;
          }
        }
        height: 85px;
        width: 800px;
        float: left;
        h3 {
          margin: 0;
          line-height: 34px;
          font-size: 16px;
        }
        p {
          margin: 0;
          font-size: 14px;
          line-height: 20px;
          color: #8f8f8f;
        }
        .time {
          margin-top:5px;
        }
      }

    }
  }
}
