@charset "utf-8";
@import "../variables";

//高考咨询详情

.article-container {
  min-height: 500px;
  text-align: center;
  .title {
    margin-top: 30px;
    font-size: 18px;
    color: $fontBaseColor;
  }
  .title-info {
    font-size: 14px;
    color: #999;
  }
  .main {
    img {
      max-height: 280px;
    }
    .content {
      text-align: left;
      font-size: 14px;
      color: $fontBaseColor;
      padding: 10px 0 30px;
      min-height: 250px;
      line-height: 24px;
      text-indent: 24px;
    }
  }
}


