.banner {
  background: #40bca0 url("../img/banner1.jpg") center center;
  height: 320px;
  width: 100%;
}
.banner .logo .icon-logo {
  width: 105px !important;
  height: 46px !important;
}
.banner .ui-location-reporting {
  position: relative;
}
.banner .ui-location-reporting .toggle-container-box {
  width: 230px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  top: 18px;
  left: 0;
}
.banner .ui-location-reporting .toggle-container-box .alert-danger {
  display: none;
  position: absolute;
  top: 117px;
  left: 17px;
  width: 200px;
}
.banner .ui-location-reporting .toggle-container-box .toggle-title {
  font-family: "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, Verdana, "Microsoft Yahei", sans-serif;
  padding: 0 10px;
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #eaeaea;
}
.banner .ui-location-reporting .toggle-container-box .toggle-title span {
  font-weight: 700;
  font-size: 18px;
  color: #0e5952;
  padding: 0 15px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.banner .ui-location-reporting .toggle-container-box .toggle-title .active {
  border-bottom: 2px solid #0e5952;
  line-height: 52px;
}
.banner .ui-location-reporting .toggle-container-box .toggle-content {
  padding: 15px 25px;
}
.banner .ui-location-reporting .toggle-container-box .toggle-content .input-common {
  height: 35px;
  line-height: 35px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #eaeaea;
  padding: 0 15px;
  margin-bottom: 15px;
  outline: none;
}
.banner .ui-location-reporting .toggle-container-box .toggle-content .btn-start {
  width: 100%;
  height: 35px;
  border-radius: 30px;
  margin-top: 7px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background-color: #0e5952;
}
.banner .ui-location-reporting .toggle-container-box .toggle-content .btn-start:hover {
  background-color: #15857b;
  transition: ease-in .8s;
}
.banner .ui-location-reporting .toggle-container-box .toggle-content #subject-w {
  margin-right: 30px;
  display: inline-block;
  margin-bottom: 10px;
}
.banner .ui-location-reporting .toggle-container-box .toggle-content label {
  margin: 0 10px;
}

.zgk-intro {
  margin-top: 20px;
  margin-bottom: 20px;
}
.zgk-intro .intro-link {
  position: relative;
  padding: 30px 20px;
  width: 744px;
  height: 225px;
  overflow: hidden;
  background: #f8fdff url("../img/intro-link-bg.png");
}
.zgk-intro .intro-link .intro-title {
  font-family: "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, Verdana, "Microsoft Yahei", sans-serif;
  font-size: 18px;
  color: #333333;
}
.zgk-intro .intro-link .intro-title .text-tip {
  position: absolute;
  top: 55px;
  left: 20px;
  color: #dd4f20;
  font-size: 14px;
}
.zgk-intro .intro-link ul {
  position: absolute;
  top: 30px;
  font-size: 18px;
  color: #333333;
}
.zgk-intro .intro-link ul a {
  margin-left: 68px;
  display: block;
  font-size: 14px;
  color: #9b9b9b;
  line-height: 30px;
}
.zgk-intro .intro-link ul a:hover {
  color: #333333;
  text-decoration: none;
  transition: ease-in .5s;
}
.zgk-intro .intro-link .section-1 {
  left: 145px;
}
.zgk-intro .intro-link .section-2 {
  left: 320px;
}
.zgk-intro .intro-link .section-3 {
  left: 500px;
}
.zgk-intro .intro-login {
  color: #333333;
  padding: 12px;
  font-size: 14px;
  width: 225px;
  height: 215px;
  background-color: #f8fdff;
  border: 1px solid #f0f0f0;
  margin-bottom: 10px;
}
.zgk-intro .intro-login .login-module {
  height: 75px;
  line-height: 30px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-bottom: 1px dashed #f0f0f0;
}
.zgk-intro .intro-login .login-module p {
  margin: 0;
}
.zgk-intro .intro-login .login-module .btn {
  padding: 4px 10px;
  border-radius: 2px;
  color: #fff;
  outline: none;
}
.zgk-intro .intro-login .login-module .btn-login {
  background-color: #f3981b;
  margin-right: 20px;
}
.zgk-intro .intro-login .login-module .btn-login:hover {
  background-color: #f6ae4b;
  transition: ease-in .8s;
}
.zgk-intro .intro-login .login-module .btn-register {
  background-color: #40bca0;
}
.zgk-intro .intro-login .login-module .btn-register:hover {
  background-color: #65cab3;
  transition: ease-in .8s;
}
.zgk-intro .intro-login .num-item {
  margin-bottom: 10px;
  line-height: 25px;
  font-size: 16px;
}
.zgk-intro .intro-login .num-item span {
  display: inline-block;
  margin-right: 5px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.zgk-intro .intro-login .num-item .bg1 {
  background-color: #5da6a6;
}
.zgk-intro .intro-login .num-item .bg2 {
  background-color: #4681a0;
}
.zgk-intro .intro-login .num-item .bg3 {
  background-color: #3db39e;
}

.gk-headlines .headlines-list {
  width: 1040px;
  margin: 20px 0 0;
}
.gk-headlines .headlines-list .box {
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
  width: 235px;
  height: 245px;
  overflow: hidden;
}
.gk-headlines .headlines-list .box .img-cover {
  height: 145px;
  overflow: hidden;
  display: block;
}
.gk-headlines .headlines-list .box .img-cover img {
  width: 235px;
  height: 145px;
  background-color: #f1f1f1;
  transition: all ease-in-out .5s;
}
.gk-headlines .headlines-list .box .img-cover img:hover {
  transform: scale(1.23);
}
.gk-headlines .headlines-list .box h3 {
  padding: 0;
  margin: 0;
  line-height: 28px;
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
}
.gk-headlines .headlines-list .box h3 a {
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
  font-family: "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, Verdana, "Microsoft Yahei", sans-serif;
  color: #333333;
}
.gk-headlines .headlines-list .box h3 a:hover {
  color: #f3981b;
}
.gk-headlines .headlines-list .box p {
  overflow: hidden;
  color: #999;
  font-size: 14px;
  margin: 0;
  line-height: 18px;
  height: 35px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.gk-headlines .headlines-list .box p span {
  line-height: 24px;
}
.gk-headlines .headlines-list .banner-advertise {
  width: 1000px;
  height: 130px !important;
  background: #f1f1f1;
}

.gk-data {
  float: left;
  width: 740px;
}
.gk-data .data-module {
  font-family: "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, Verdana, "Microsoft Yahei", sans-serif;
}
.gk-data .data-module .box {
  margin: 10px 10px 20px 0;
  height: 85px;
  width: 235px;
  float: left;
}
.gk-data .data-module .box .img-link {
  float: left;
  margin-right: 10px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  transition: border-radius ease-in-out .4s;
}
.gk-data .data-module .box .img-link:hover {
  border-radius: 50%;
}
.gk-data .data-module .box .img-link-1 {
  background: url(../img/yxxx-img.png);
}
.gk-data .data-module .box .img-link-2 {
  background: url(../img/zyxx-img.png);
}
.gk-data .data-module .box .img-link-3 {
  background: url(../img/yxzsxx-img.png);
}
.gk-data .data-module .box .img-link-4 {
  background: url(../img/gkct-img.png);
}
.gk-data .data-module .box .img-link-5 {
  background: url(../img/zyxxs-img.png);
}
.gk-data .data-module .box .img-link-6 {
  background: url(../img/dqpcx-img.png);
}
.gk-data .data-module .box .txt {
  height: 85px;
  width: 135px;
  float: left;
}
.gk-data .data-module .box .txt .link {
  color: #333333;
  margin: 0;
  line-height: 30px;
  font-size: 16px;
  transition: color ease-in-out .2s;
}
.gk-data .data-module .box .txt .link:hover {
  color: #f3981b;
}
.gk-data .data-module .box .txt p {
  margin: 0;
  font-size: 14px;
  color: #8f8f8f;
}
.gk-data .data-module .box:last-child {
  margin-right: 0;
}

.gk-schedule {
  float: right;
  width: 235px;
}
.gk-schedule .list {
  padding: 0;
  margin: 20px 0 0;
}
.gk-schedule .list li {
  position: relative;
  margin-bottom: 37px;
  overflow: hidden;
}
.gk-schedule .list li span {
  display: inline-block;
  width: 38px;
  height: 38px;
  background-color: #0e5952;
  color: #fff;
  line-height: 38px;
  text-align: center;
}
.gk-schedule .list li a {
  position: absolute;
  left: 50px;
  color: #666666;
  font-size: 14px;
}
.gk-schedule .list li a:hover {
  color: #f3981b;
}

.hot-go-where {
  height: 540px;
  width: 100%;
  background: url("../img/go-where-bg.png");
}
.hot-go-where .go-where {
  position: absolute;
  background-color: #fff;
}
.hot-go-where .map-container {
  width: 600px;
  margin: 30px auto;
}
.hot-go-where .map-container #map {
  height: 475px;
  z-index: 9;
  position: relative;
  top: 40px;
  left: -180px;
}
.hot-go-where .map-container #mapTip {
  position: absolute;
  width: 150px;
  padding: 15px;
  font-size: 14px;
  line-height: 26px;
  background: #ED5644;
  color: #FFF;
  display: none;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.hot-go-where .map-container .eg {
  position: relative;
  top: 0;
  left: -160px;
}
.hot-go-where .map-container .eg .choose1 {
  position: absolute;
  top: -20px;
  left: 0;
}
.hot-go-where .go-where {
  width: 230px;
  background-color: #fff;
  position: relative;
  top: -485px;
  right: -750px;
}
.hot-go-where .go-where .title {
  font-size: 20px;
  font-weight: 700;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-bottom: 1px solid #e0eff0;
}
.hot-go-where .go-where li {
  line-height: 40px;
  border-bottom: 1px dashed #e0eff0;
  padding: 0 30px;
  box-sizing: border-box;
}
.hot-go-where .go-where li .fadeR1, .hot-go-where .go-where li .fadeR2, .hot-go-where .go-where li .fadeR3, .hot-go-where .go-where li .fadeR4, .hot-go-where .go-where li .fadeR5, .hot-go-where .go-where li .fadeR6, .hot-go-where .go-where li .fadeR7, .hot-go-where .go-where li .fadeR8, .hot-go-where .go-where li .fadeR9, .hot-go-where .go-where li .fadeR10 {
  color: #fff;
  padding: 2px 4px;
  border-radius: 3px;
  background-color: #d7694b;
}
.hot-go-where .go-where li .fadeR2 {
  background-color: #d86c4f;
}
.hot-go-where .go-where li .fadeR3 {
  background-color: #dc7a60;
}
.hot-go-where .go-where li .fadeR4 {
  background-color: #de856c;
}
.hot-go-where .go-where li .fadeR5 {
  background-color: #e08c75;
}
.hot-go-where .go-where li .fadeR6 {
  background-color: #eaaf9e;
}
.hot-go-where .go-where li .fadeR7 {
  background-color: #eaaf9e;
}
.hot-go-where .go-where li .fadeR8 {
  background-color: #eaaf9e;
}
.hot-go-where .go-where li .fadeR9 {
  background-color: #eaaf9e;
}
.hot-go-where .go-where li .fadeR10 {
  background-color: #eaaf9e;
}
.hot-go-where .go-where li span {
  margin: 0 10px;
}
.hot-go-where .go-where .no-bt {
  border-bottom: none;
}

.bottom-intro .list {
  margin: 40px 50px 40px;
  width: 232px;
  text-align: center;
  float: left;
}
.bottom-intro .list h3 {
  font-family: "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, Verdana, "Microsoft Yahei", sans-serif;
  font-size: 18px;
  color: #333333;
  margin: 10px 0 0;
  line-height: 40px;
}
.bottom-intro .list p {
  margin: 0;
  line-height: 20px;
  font-size: 14px;
  color: #999999;
}

.login-after .noVip,
.login-after .isVip {
  display: none;
}
