@charset "utf-8";

@import "../../common/styles/comm.scss";

.mt20{
  margin-top: 20px;
}

.sub-article {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 50px;
  text-indent: 1cm;
}

.article-nav-sub {
  overflow: hidden;
  li {
    float: left;
    padding: 15px 20px;
    background-color: #f5f5f5;
  }
}