.search-box {
  margin: 30px 60px 30px 190px; }

._ml45 {
  margin-left: -45px !important; }

.select-box {
  padding: 10px 0;
  clear: both; }
  .select-box .content {
    height: 300px;
    border: 1px solid #e8e8e8;
    padding: 20px 25px;
    box-sizing: border-box; }
  .select-box .comm-select {
    padding: 10px 0; }
    .select-box .comm-select .left-title {
      line-height: 24px;
      float: left;
      width: 130px; }
      .select-box .comm-select .left-title h2 {
        font-size: 14px;
        display: inline-block;
        padding: 0;
        margin: 0 5px 0 0; }
      .select-box .comm-select .left-title .all {
        padding: 3px 5px;
        border-radius: 1px;
        margin: 0 5px 5px 5px;
        cursor: pointer; }
    .select-box .comm-select .hover, .select-box .comm-select .left-title .active, .select-box .comm-select .left-title .active:hover, .select-box .comm-select .right-item li:hover, .select-box .comm-select .active {
      color: #fff;
      background-color: #f3981b; }
    .select-box .comm-select .right-item {
      padding: 0;
      width: 810px;
      float: left; }
      .select-box .comm-select .right-item li {
        padding: 2px 5px;
        border-radius: 1px;
        margin: 0 5px 5px 0;
        float: left;
        cursor: pointer; }
    .select-box .comm-select .h95 {
      height: 95px;
      border-bottom: 1px #ccc dashed;
      margin-bottom: 15px; }
    .select-box .comm-select .h40 {
      height: 40px;
      border-bottom: 1px dashed #ccc;
      margin-bottom: 15px; }

.school-data-list h2, .school-data-list ul {
  margin: 0;
  padding: 0; }
.school-data-list .data-list {
  margin-top: 30px;
  float: left;
  width: 730px;
  margin-right: 35px; }
  .school-data-list .data-list li {
    border-bottom: 1px dashed #ccc;
    position: relative;
    height: 140px;
    font-size: 14px;
    color: #666666; }
    .school-data-list .data-list li .school-logo {
      position: absolute;
      cursor: pointer;
      top: 20px;
      left: 24px;
      width: 105px;
      height: 105px;
      border-radius: 50%; }
    .school-data-list .data-list li .comm-position, .school-data-list .data-list li .top, .school-data-list .data-list li .middle {
      position: absolute;
      top: 20px; }
    .school-data-list .data-list li .top {
      left: 148px;
      font-weight: 700; }
      .school-data-list .data-list li .top .school-name {
        cursor: pointer;
        font-size: 20px;
        color: #333333;
        margin-right: 20px; }
      .school-data-list .data-list li .top .icon-flag {
        margin-right: 5px;
        position: relative;
        top: -2px; }
      .school-data-list .data-list li .top .collect {
        color: #666;
        font-size: 14px;
        text-decoration: none;
        cursor: default; }
        .school-data-list .data-list li .top .collect .icon-heart,
        .school-data-list .data-list li .top .collect .icon-heart-no {
          margin: 0 5px 0 20px;
          position: relative;
          top: -2px; }
    .school-data-list .data-list li .middle {
      top: 57px;
      left: 148px;
      width: 570px; }
      .school-data-list .data-list li .middle span {
        padding: 1px 3px;
        border-radius: 1px;
        margin-right: 2px; }
      .school-data-list .data-list li .middle .type-985 {
        color: #18a4a4;
        border: 1px solid #18a4a4; }
      .school-data-list .data-list li .middle .type-211 {
        color: #38abf3;
        border: 1px solid #38abf3; }
      .school-data-list .data-list li .middle .type-yan {
        color: #4bc37e;
        border: 1px solid #4bc37e; }
      .school-data-list .data-list li .middle .type-zi {
        color: #5ca9f0;
        border: 1px solid #5ca9f0; }
      .school-data-list .data-list li .middle .type-guo {
        color: #5bc3f4;
        border: 1px solid #5bc3f4; }
      .school-data-list .data-list li .middle .type-zhuo {
        color: #33cccc;
        border: 1px solid #33cccc; }
      .school-data-list .data-list li .middle .btn {
        padding: 3px 4px;
        color: #fff;
        outline: none; }
      .school-data-list .data-list li .middle .set-target {
        background-color: #53d094;
        position: absolute;
        right: 80px;
        top: 0; }
      .school-data-list .data-list li .middle .forecasting {
        background-color: #53d094;
        position: absolute;
        right: 0;
        top: 0; }
    .school-data-list .data-list li .bottom {
      position: absolute;
      top: 100px;
      left: 148px; }
      .school-data-list .data-list li .bottom .icon-location, .school-data-list .data-list li .bottom .icon-web {
        position: relative;
        top: -2px; }
      .school-data-list .data-list li .bottom .province, .school-data-list .data-list li .bottom .belong, .school-data-list .data-list li .bottom .school-type {
        margin-right: 15px; }
      .school-data-list .data-list li .bottom .enter-site {
        color: #666;
        font-size: 14px;
        text-decoration: none; }
.school-data-list .recommend-school {
  margin-top: 30px;
  float: right;
  width: 235px; }
  .school-data-list .recommend-school h4 {
    margin-top: 0; }
  .school-data-list .recommend-school .side-banner {
    width: 235px;
    height: 127px;
    margin-bottom: 10px; }

.msg-tips .no-data-img {
  margin-top: 100px; }

/*# sourceMappingURL=data-school-info.css.map */
