@charset "utf-8";
@import "../variables";
/*
专业信息
*/

#search-main{
  position: relative;
  top:0;
  left:0;
  #tips{
    display: none;
    position: absolute;
    top:0;
    left:200px;
    z-index: 100;
  }
}
.search-box {
  margin: 10px 60px 50px 190px;
}
.main-container {
  min-height: 300px;
  margin-bottom:100px;
  .box-left {
    position: relative;
    margin-right: 30px;
    width: 200px;
    float: left;
    padding-bottom: 10px;
    //height: 265px;
    color: #fff;
    background: #68c590;
    margin-bottom:100px;
    .toggle-nav{
      border-bottom: 1px solid #4db273;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      font-weight: 700;
      span{
        width: 97px;
        text-align: center;
        display: inline-block;
        color: #308655;
        cursor: pointer;
      }
      .triangle-bottom {
        width: 0;
        height: 0;
        border-top: 8px solid \9;
        border-top: 8px solid #75d6a2!important;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        position: absolute;
        top: 40px;
        left: 41px;
        //left左右滑动
        //left: 145px;
        z-index: 99;
        display: none;
      }
      .active{
        color: #fff;
        position: relative;
        //倒三角
        .triangle-bottom{
            display: block;
        }
      }
    }
    .toggle-nav-content{
      font-size: 14px;
      border-top:1px solid #75d6a2;
      display: none;
      ul{
        margin: 15px;
        li{
          cursor: pointer;
          float: left;
          margin: 5px 7px 5px 0;
          padding: 0 6px;
          line-height: 22px;
          border-radius: 1px;
          &:hover{
            @extend .active;
          }
        }
        .active{
          background: #4fa775;
          border-radius: 3px;
        }
      }
    }
    .toggle-nav-content.active{
      display: block;
    }

    .w-arrow {
      cursor: pointer;
      position: absolute;
      width: 22px;
      right: -22px;
      top: 70px;

      .w-arrow-a,
      .w-arrow-b {
        display: block;
        width: 0;
        height: 0;
        border: 10px solid transparent;
      }
      .w-arrow-a {
        border-color: transparent transparent  transparent #68c590;
      }
    }
  }
  .box-right,
  .majored-detail{
    float: left;
    width: 770px;
    margin-bottom:100px;
    .title{
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      width: 100%;
      color: $yellowColor;
      border-bottom: 2px solid #f5f5f5;
      .t-name{
        border-bottom: 2px solid $greenColor;
        font-size: 18px;
        margin-right: 30px;
        font-weight: 700;
        display: inline-block;
        color: $fontBaseColor;
        line-height: 37px;
      }
      .rate{
        margin-right:15px;
      }
      .btn-back{
        display: block;
        float: right;
        width: 73px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        text-align: center;
        background-color: #68c590;
        font-size: 16px;
        text-decoration: none;
        border-radius: 2px;
        .icon-back{
          position: relative;
          top:-2px;
          margin-right: 2px;
        }
      }
    }
    .main{
      padding-top:10px;
      .info{
        font-weight: 700;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 20px;
      }
      b{
        margin-right: 50px;
      }
      p{
        margin: 10px 0;
      }
      .open-course{
        color: #999;
        margin-bottom: 20px;
      }
      .sub-title{
        cursor: pointer;
        line-height: 40px;
        font-size: 18px;
        height: 40px;
        background-color: #f5f5f5;
        padding: 0 15px;
        color: #666666;
      }
      .active{
        color: #68c590;
        border-bottom: 2px solid #68c590;
        padding-bottom: 8px;
        position: relative;
        //倒三角
        .triangle-bottom {
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 8px solid \9;
          border-top: 8px solid #68c590!important;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          position: absolute;
          top: 31px;
          left: 28px;
          //left左右滑动
          //left: 145px;
          z-index: 99;
        }
      }
      .content{
        padding:20px 0;
        line-height: 25px;
        text-align: justify;
        text-indent: 30px;
      }
    }
  }
  .majored-detail{
    width:1000px;
  }
}


.majored-category-list{
  border:1px solid #e5e5e5;
  h3.list-title{
    height:38px;
    line-height:38px;
    font-size:16px;
    color: #333;
    margin:0;
    padding:0 0 0 10px;
    border-bottom:1px solid #e5e5e5;
  }
  .majored-category-content{
    padding:0 0 10px 10px;
    border-bottom:2px solid #f6f6f6;

    .majored-tab{
      font-size:14px;
      color: #333;
    }
    .majored-item{
      margin:0 10px 0 0;
    }
    li{
      display: inline-block;
      padding:0 5px;
      height:38px;
      font-size:16px;
      line-height:38px;
      &.active{
        border-bottom:2px solid #68c590;
      }
    }
  }

  .majored-category-sub{
    display: none;
    padding:15px;
    a{
      display: inline-block;
      margin-right:20px;
      color: #333;
      font-size:14px;
    }
  }
  .majored-category-sub.active{
    display: block;
  }
}
.majored-category-tab-li{
  cursor: pointer;
}


.majored-category-content{
  padding:0 0 0 10px;
  border-bottom:2px solid #f6f6f6;
}

.search-list{
  border:1px solid #ccc;
  margin:0 0 20px;
  .search-list-title{
    height:40px;
    line-height:40px;
    border-bottom:1px solid #ccc;
    font-size:16px;
    padding:0 20px;
    span{
      margin-right: 30px;
    }
  }
  .search-list-content{
    padding: 20px;

    .majored-item{
      color: #328d59;
      font-size:14px;
      display: inline-block;
      margin-right:20px;
    }
  }
}

