@charset "UTF-8";
/*
专业信息
*/
#search-main {
  position: relative;
  top: 0;
  left: 0; }
  #search-main #tips {
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
    z-index: 100; }

.search-box {
  margin: 10px 60px 50px 190px; }

.main-container {
  min-height: 300px;
  margin-bottom: 100px; }
  .main-container .box-left {
    position: relative;
    margin-right: 30px;
    width: 200px;
    float: left;
    padding-bottom: 10px;
    color: #fff;
    background: #68c590;
    margin-bottom: 100px; }
    .main-container .box-left .toggle-nav {
      border-bottom: 1px solid #4db273;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      font-weight: 700; }
      .main-container .box-left .toggle-nav span {
        width: 97px;
        text-align: center;
        display: inline-block;
        color: #308655;
        cursor: pointer; }
      .main-container .box-left .toggle-nav .triangle-bottom {
        width: 0;
        height: 0;
        border-top: 8px solid \9;
        border-top: 8px solid #75d6a2 !important;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        position: absolute;
        top: 40px;
        left: 41px;
        z-index: 99;
        display: none; }
      .main-container .box-left .toggle-nav .active, .main-container .box-left .toggle-nav .toggle-nav-content ul li:hover, .main-container .box-left .toggle-nav-content ul .toggle-nav li:hover {
        color: #fff;
        position: relative; }
        .main-container .box-left .toggle-nav .active .triangle-bottom, .main-container .box-left .toggle-nav .toggle-nav-content ul li:hover .triangle-bottom, .main-container .box-left .toggle-nav-content ul .toggle-nav li:hover .triangle-bottom {
          display: block; }
    .main-container .box-left .toggle-nav-content {
      font-size: 14px;
      border-top: 1px solid #75d6a2;
      display: none; }
      .main-container .box-left .toggle-nav-content ul {
        margin: 15px; }
        .main-container .box-left .toggle-nav-content ul li {
          cursor: pointer;
          float: left;
          margin: 5px 7px 5px 0;
          padding: 0 6px;
          line-height: 22px;
          border-radius: 1px; }
        .main-container .box-left .toggle-nav-content ul .active, .main-container .box-left .toggle-nav-content ul li:hover {
          background: #4fa775;
          border-radius: 3px; }
    .main-container .box-left .toggle-nav-content.active, .main-container .box-left .toggle-nav-content ul li.toggle-nav-content:hover {
      display: block; }
    .main-container .box-left .w-arrow {
      cursor: pointer;
      position: absolute;
      width: 22px;
      right: -22px;
      top: 70px; }
      .main-container .box-left .w-arrow .w-arrow-a,
      .main-container .box-left .w-arrow .w-arrow-b {
        display: block;
        width: 0;
        height: 0;
        border: 10px solid transparent; }
      .main-container .box-left .w-arrow .w-arrow-a {
        border-color: transparent transparent  transparent #68c590; }
  .main-container .box-right,
  .main-container .majored-detail {
    float: left;
    width: 770px;
    margin-bottom: 100px; }
    .main-container .box-right .title,
    .main-container .majored-detail .title {
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      width: 100%;
      color: #f3981b;
      border-bottom: 2px solid #f5f5f5; }
      .main-container .box-right .title .t-name,
      .main-container .majored-detail .title .t-name {
        border-bottom: 2px solid #40bca0;
        font-size: 18px;
        margin-right: 30px;
        font-weight: 700;
        display: inline-block;
        color: #333333;
        line-height: 37px; }
      .main-container .box-right .title .rate,
      .main-container .majored-detail .title .rate {
        margin-right: 15px; }
      .main-container .box-right .title .btn-back,
      .main-container .majored-detail .title .btn-back {
        display: block;
        float: right;
        width: 73px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        text-align: center;
        background-color: #68c590;
        font-size: 16px;
        text-decoration: none;
        border-radius: 2px; }
        .main-container .box-right .title .btn-back .icon-back,
        .main-container .majored-detail .title .btn-back .icon-back {
          position: relative;
          top: -2px;
          margin-right: 2px; }
    .main-container .box-right .main,
    .main-container .majored-detail .main {
      padding-top: 10px; }
      .main-container .box-right .main .info,
      .main-container .majored-detail .main .info {
        font-weight: 700;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 20px; }
      .main-container .box-right .main b,
      .main-container .majored-detail .main b {
        margin-right: 50px; }
      .main-container .box-right .main p,
      .main-container .majored-detail .main p {
        margin: 10px 0; }
      .main-container .box-right .main .open-course,
      .main-container .majored-detail .main .open-course {
        color: #999;
        margin-bottom: 20px; }
      .main-container .box-right .main .sub-title,
      .main-container .majored-detail .main .sub-title {
        cursor: pointer;
        line-height: 40px;
        font-size: 18px;
        height: 40px;
        background-color: #f5f5f5;
        padding: 0 15px;
        color: #666666; }
      .main-container .box-right .main .active, .main-container .box-right .main .box-left .toggle-nav-content ul li:hover, .main-container .box-left .toggle-nav-content ul .box-right .main li:hover,
      .main-container .majored-detail .main .active,
      .main-container .majored-detail .main .box-left .toggle-nav-content ul li:hover,
      .main-container .box-left .toggle-nav-content ul .majored-detail .main li:hover {
        color: #68c590;
        border-bottom: 2px solid #68c590;
        padding-bottom: 8px;
        position: relative; }
        .main-container .box-right .main .active .triangle-bottom, .main-container .box-right .main .box-left .toggle-nav-content ul li:hover .triangle-bottom, .main-container .box-left .toggle-nav-content ul .box-right .main li:hover .triangle-bottom,
        .main-container .majored-detail .main .active .triangle-bottom,
        .main-container .majored-detail .main .box-left .toggle-nav-content ul li:hover .triangle-bottom,
        .main-container .box-left .toggle-nav-content ul .majored-detail .main li:hover .triangle-bottom {
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 8px solid \9;
          border-top: 8px solid #68c590 !important;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          position: absolute;
          top: 31px;
          left: 28px;
          z-index: 99; }
      .main-container .box-right .main .content,
      .main-container .majored-detail .main .content {
        padding: 20px 0;
        line-height: 25px;
        text-align: justify;
        text-indent: 30px; }
  .main-container .majored-detail {
    width: 1000px; }

.majored-category-list {
  border: 1px solid #e5e5e5; }
  .majored-category-list h3.list-title {
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0 0 0 10px;
    border-bottom: 1px solid #e5e5e5; }
  .majored-category-list .majored-category-content {
    padding: 0 0 10px 10px;
    border-bottom: 2px solid #f6f6f6; }
    .majored-category-list .majored-category-content .majored-tab {
      font-size: 14px;
      color: #333; }
    .majored-category-list .majored-category-content .majored-item {
      margin: 0 10px 0 0; }
    .majored-category-list .majored-category-content li {
      display: inline-block;
      padding: 0 5px;
      height: 38px;
      font-size: 16px;
      line-height: 38px; }
      .majored-category-list .majored-category-content li.active, .majored-category-list .majored-category-content .main-container .box-left .toggle-nav-content ul li:hover, .main-container .box-left .toggle-nav-content ul .majored-category-list .majored-category-content li:hover {
        border-bottom: 2px solid #68c590; }
  .majored-category-list .majored-category-sub {
    display: none;
    padding: 15px; }
    .majored-category-list .majored-category-sub a {
      display: inline-block;
      margin-right: 20px;
      color: #333;
      font-size: 14px; }
  .majored-category-list .majored-category-sub.active, .majored-category-list .main-container .box-left .toggle-nav-content ul li.majored-category-sub:hover, .main-container .box-left .toggle-nav-content ul .majored-category-list li.majored-category-sub:hover {
    display: block; }

.majored-category-tab-li {
  cursor: pointer; }

.majored-category-content {
  padding: 0 0 0 10px;
  border-bottom: 2px solid #f6f6f6; }

.search-list {
  border: 1px solid #ccc;
  margin: 0 0 20px; }
  .search-list .search-list-title {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    padding: 0 20px; }
    .search-list .search-list-title span {
      margin-right: 30px; }
  .search-list .search-list-content {
    padding: 20px; }
    .search-list .search-list-content .majored-item {
      color: #328d59;
      font-size: 14px;
      display: inline-block;
      margin-right: 20px; }

/*# sourceMappingURL=data-professional-info.css.map */
