@charset "UTF-8";
/*
通用variables定义
*/
/*
list base color
*/
.banner {
  width: 100%;
  height: 204px;
  background-color: #cccccc;
  background-position: center center;
}

.search {
  margin-top: 30px;
  margin-bottom: 30px;
}

.gk-policy .policy-list {
  float: left;
}
.gk-policy .policy-list .box {
  position: relative;
  padding: 10px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  width: 100%;
  color: #999;
}
.gk-policy .policy-list .box .time {
  position: absolute;
  top: 15px;
  right: 15px;
}
.gk-policy .policy-list .box a {
  color: #0e5952;
}
.gk-policy .policy-list .box h3 {
  font-size: 16px;
  margin: 0;
  line-height: 30px;
}
.gk-policy .policy-list .box p {
  margin: 0;
  line-height: 20px;
  font-size: 14px;
}

.pagination {
  float: left;
}
