@charset "utf-8";
@import "variables";

.header {
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  .logo {
    position: relative;
    width: 230px;
    //current-province
    .current-province {
      display: inline-block;
      padding: 0 12px;
      margin: 10px;
      border: 1px solid #ccc;
      border-radius: 20px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      cursor: pointer;
      transition: all ease-in-out .2s;
      &:hover .opc-div{
       display: block;
      }
      .current {
        display: inline-block;
        margin-left: 2px;
      }
      .opc-div{
        display: none;
        position: absolute;
        //background-color: #00b3ee;
        height: 112px;
        left: 20px;
        width: 200px;
        top: 0;
      }
      .select-province {
        display: block;
        padding: 5px ;
        margin: 0;
        width: 213px;
        background-color: #000;
        position: absolute;
        z-index: 9999;
        border-radius: 0 0 5px 5px;
        top: 80px;
        filter:alpha(opacity=70);
        -moz-opacity:0.7;
        -khtml-opacity: 0.7;
        opacity: 0.7;
        left:40px;

        li{
          height: 26px;
          line-height: 26px;
          margin-left: 10px;
          margin-bottom: 10px;
          display: block;
          float: left;
          padding: 0 6px;
          color: #fff;
          cursor: pointer;
          a{
            color: #fff;
          }
        }
        .w-arrow {
          cursor: pointer;
          position: absolute;
          width: 22px;
          left: 50%;
          margin: 0 0 0 -11px;
          top: -20px;
          height: 20px;

          .w-arrow-a{
            display: block;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            filter:alpha(opacity=90);
            -moz-opacity:0.9;
            -khtml-opacity: 0.9;
            opacity: 0.9;
            border-color: transparent  transparent  #000  transparent;
          }
        }
      }
    }
  }

  .official-link {
    font-size: 14px;
    color: $fontBaseColor;
    line-height: 80px;
    padding: 0 40px;
    cursor: pointer;
    display: inline-block;
  }
  .login {
    a {
      color: $fontBaseColor;
      line-height: 80px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.menu {
  li {
    display: block;
    float: left;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    a {
      padding: 0 24px;
      color: #333;
      display: block;
      line-height: 80px;
      font-size: 16px;
      background-color: #fff;
      cursor: pointer;
      transition: all ease-in-out 0.3s;
      &.active,
      &:hover {
        background-color: $mainColor;
        text-decoration: none;
        color: #fff;
        transition: background 0.03s ease-in, color 0.03s ease-out
      }
    }
    .sub-menu {
      display: none;
      width: 100%;
      padding: 0 24px;
      min-height: 150px;
      position: absolute;
      z-index: 10000;
    }
    ul {
      position: absolute;
      left: 0;
      top: 10px;
      width: 100%;
      display: block;
      z-index: 1000;
      padding: 0;
      background-color: #fff;
      border: 1px solid #0e5952;
      .w-arrow {
        cursor: pointer;
        position: absolute;
        width: 22px;
        left: 50%;
        margin: 0 0 0 -11px;
        top: -20px;
        height: 20px;

        .w-arrow-a,
        .w-arrow-b {
          display: block;
          width: 0;
          height: 0;
          border: 10px solid transparent;
        }
        .w-arrow-a {
          border-color: transparent transparent #0e5952 transparent;
        }
        .w-arrow-b {
          position: relative;
          top: -18px;
          border-color: transparent transparent #fff transparent;
        }
      }
    }
    ul li {
      display: block;
      width: 100%;
      line-height: 40px;
      padding: 0;
      text-align: center;
    }

    ul li a {
      display: block;
      width: 100%;
      line-height: 40px;
      padding: 0;
    }

    &:hover .sub-menu {
      display: block;
    }
    .triangle-b {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 4px;
      vertical-align: middle;
      border-bottom: 8px dashed;
      border-top: 8px solid \9
    ;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      border-bottom: 8px solid #fff;
      position: absolute;
      top: -8px;
      left: 45px;
      z-index: 99;
    }
  }
}

.header {
  .login-nav {
    width: 100px;
    height: 80px;
    .login-end {
      .user-info {
        width: 200px;
        img {
          cursor: pointer;
          margin-right: 8px;
          vertical-align: middle;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
        }
      }
    }
  }
  .login-front {
    a {
      color: $fontBaseColor;
    }
  }
}

.login-end {
  position: relative;
  a {
    color: #333;
    display: block;
    line-height: 80px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
  .sub-menu {
    display: none;
    width: 100px;
    min-height: 100px;
    overflow: hidden;
  }
  ul {
    position: absolute;
    left: 0;
    top: 89px;
    width: 100%;
    display: block;
    z-index: 1000;
    padding: 0;
    background-color: #fff;
    border: 1px solid #0e5952;
    .w-arrow {
      cursor: pointer;
      position: absolute;
      width: 22px;
      left: 50%;
      margin: 0 0 0 -11px;
      top: -20px;
      .w-arrow-a,
      .w-arrow-b {
        display: block;
        width: 0;
        height: 0;
        border: 10px solid transparent;
      }
      .w-arrow-a {
        border-color: transparent transparent #0e5952 transparent;
      }
      .w-arrow-b {
        position: relative;
        top: -18px;
        border-color: transparent transparent #fff transparent;
      }
    }
  }
  ul li {
    display: block;
    width: 100%;
    line-height: 40px;
    padding: 0;
    text-align: center;
  }

  ul li a {
    display: block;
    width: 100%;
    line-height: 40px;
    padding: 0;
    &:hover {
      background-color: $mainColor;
      text-decoration: none;
      color: #fff;
      transition: background 0.03s ease-in, color 0.03s ease-out
    }
  }

  &:hover .sub-menu {
    display: block;
  }
}

