@import "../common/common";

.page-content {
  padding: 40px 40px 20px;
}

.user-img-upload {
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
  padding-bottom: 25px;
  overflow: hidden;
  .uploader-tips {
    margin: 6px 0;
  }
  .avatar-img {
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 30px;
  }
  .wu-example {
    float: left;
  }
  .upload-avatar, .webuploader-pick {
    background: #00b7ee !important;
    color: #fff !important;
    width: 80px !important;
    height: 25px !important;
    line-height: 25px !important;
    text-align: center !important;
    border-radius: 3px;
  }
  .thumbnail {
    margin-top: 30px;
    overflow: hidden;
    .thumb-img {
      float: left;
      margin-right: 5px;
    }
    .info {
      float: left;
      word-break: break-all;
      width: 258px;
    }
  }
}

.user-info-list {
  .account-number {
    width: 462px;
    font-size: 14px;
    margin-bottom: 15px;
    .w80 {
      min-width: 80px;
      display: inline-block;
    }
    .modify-pwd {
      float: right;
      color: $mainColor;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .common-control {
    margin-bottom: 15px;
    label {
      min-width: 80px;
    }
    input {
      height: 32px;
      line-height: 32px;
      min-width: 380px;
      padding: 0 8px;
      border-radius: 2px;
    }
  }
  .btn-submit {
    margin-top: 50px;
    background-color: $mainColor;
    &:hover {
      background-color: $mainColor;
      color: #fff;
    }
  }
}

.modify-pwd-form {
  padding: 25px 40px 50px;
  .form-control {
    height: 30px;
    line-height: 30px;
  }
  .form-group {
    font-size: 14px !important;
    .number {
      margin-left: 30px;
      color: $mainColor;
    }
  }
  .modify-pwd-btn-box {
    margin-bottom: 0;
    margin-top: 30px;
  }
  .modify-pwd-btn {
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: $mainColor !important;
    color: #fff !important;
  }
}

