.tips{
  border: 1px solid #faebcc;
  background: #fcf8e3;
  padding: 20px 18px 10px;
  color: #8a6d45;
  overflow: hidden;
  border-radius: 3px;
  strong{
    display: block;
    font-size: 16px;
  }
  p{
    font-size: 12px;
  }
}

.main-volunteer{
  overflow: hidden;
  margin: 15px auto 40px;
  .fl{
    float: left;
    width: 312px;
    border-right: 1px solid #f1f1f1;
    .img{
      margin-top: 15px;
      img{
        margin: 0 auto;
        width: 215px;
        height: 215px;
        display: block;
      }
    }
    strong{
      width: 100%;
      display: block;
      text-align: center;
      margin: 23px 0;
    }
    p{
      color: #777;
      font-size: 14px;
      text-align: center;
    }
  }
  .fr{
    width: 590px;
    float: left;
    padding: 0 0 0 92px;
    .zd-form{
       .form-control{
         margin-top: 13px;
         height: 47px;
         width: 336px;
         border: 1px solid #f1f1f1;
         border-radius: 3px;
         line-height: 47px;
         label{
           width: 95px;
           height: 25px;
           border-right: 1px solid #f1f1f1;
           line-height: 25px;
           display: inline-block;
           text-align: center;
           color: #777;
         }
         .input{
           width: 215px;
           padding: 0 10px;
         }
         .input.yzm{
           width: 99px;
         }
       }
      .yzm-control{
        width: 220px;
        position: relative;
        img{
          position: absolute;
          top: 0;
          right: -116px;
        }
      }

    }
  }
}
.form-control-btn{
  clear: both;
  margin: 20px 0 ;
  .btn{
    float: left;
    width: 336px;
    height: 45px;
    background:url('../../../dist/after/images/next-btn.png');
    color: #fff;
  }
  .btn:hover{
    text-decoration: underline;
  }
}
.volunteer-flow2{
  overflow: hidden;
  margin: 20px 0 ;
  .info1{
    border: 1px solid #ccc;
    width: 440px;
    height: 88px;
    padding:20px;
    line-height: 28px;
  }
  .info2{
    border: 1px solid #ccc;
    width: 440px;
    height: 61px;
    background: #f9f9f9;
    border-top: none;
    padding:20px;
    line-height: 28px;
  }
  h3{
    color: #444;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  strong{
    color: #eea236;
    font-weight: bold;
    font-size: 20px;
  }
}
.prev-btn{
  float: left;
  font-size: 16px;
  color: #e24333;
  border: 1px solid #e24333;
  border-radius: 3px;
  width: 124px;
  height: 45px;
  background: #fff;
  margin-left: 20px;
}

.volunteer-flow3-table{
  width: 100%;
  th,td{
    border: 1px solid #f1f1f1;
  }
  th{
    height: 40px;
    background: #f5f5f5;
    color: #444;
  }
  .item1{
    height: 240px;
    line-height: 240px;
    text-align:center;
    width: 89px;
  }
  .item2{
    width: 365px;
  }
  .item3{
    width: 391px;
  }
  .item4{
    width: 150px;
  }
}



.section-article {
  }

.search-content span {
  display: inline-block;
  overflow: hidden; }

.search-content input {
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  outline: none;
  float: left; }

.search-content button {
  width: 128px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #f0ad4e;
  background: url("../../common/images/ask-icon.png") no-repeat 15px center;
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  color: #e24d39;
  font-size: 16px;
  padding-left: 16px; }

.search-content input[type="text"] {
  width: 233px;
  border: 1px solid #f0ad4e;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 38px;
  padding-left: 10px; }

.search-content input[type="button"] {
  width: 100px;
  background: #f0ad4e ;
  border: 1px solid #f0ad4e;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
}

.volunteer-flow3-table{
      .tips{
        width: 306px;
        margin: 20px auto;
      }
}