.into-search {
  margin: 31px 0;
  overflow: hidden;
  .into-btn {
    float: left;
    width: 133px;
    height: 38px;
    display: block;
    background: url('../../common/images/into-btn-bg.png') no-repeat;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
    color: #fff;
  }
  .into-btn:hover {
    color: #fff;
    text-decoration: underline;
  }

}

ul.main-video-list {
  overflow: hidden;
  width: 1200px;
  li.item {
    width: 233px;
    height: 520px;
    float: left;
    margin-right: 23px;
    .img,
    img {
      width: 233px;
      height: 174px;
      overflow: hidden;
    }
    .info {
      width: 233px;
      line-height: 22px;
      font-size: 12px;
      font-weight: bold;
      color: #303030;
    }
    .num {
      width: 233px;
      overflow: hidden;
      line-height: 22px;
      font-size: 12px;
    }
    .txt {
      display: block;
      font-size: 12px;
      overflow: hidden;
      color: #333;
      line-height: 24px;
      border: solid #e5e5e5;
      border-width: 1px 0;
      height: 186px;
      padding: 18px 0 0;
      margin: 15px 0;
    }
    .funs {
      overflow: hidden;
      .btn {
        width: 98px;
        height: 28px;
        border: 1px solid #e24333;
        display: block;
        margin: 0 auto;
        color: #656464;
        background: #fff;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        line-height: 28px;
      }
      .btn:hover {
        color: #fff;
        background: #e24333;
      }
    }
  }
}

.section-article {
  float: right;
}

section:last-child {
}

.search-content {
  span {
    display: inline-block;
    overflow: hidden;
  }
  input {
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    outline: none;
    float: left;
  }
  button {
    width: 128px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid #cc0001;
    background: url('../../common/images/ask-icon.png') no-repeat 15px center;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    color: #e24d39;
    font-size: 16px;
    padding-left: 16px;
  }
  input[type="text"] {
    width: 265px;
    border: 1px solid #cc0001;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 38px;
    padding-left: 10px;
  }
  input[type="button"] {
    width: 90px;
    background: #cc0001 url('../../common/images/search-icon.png') no-repeat 15px center;
    border: 1px solid #cc0001;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    padding-left: 10px;
  }
}

.main-exam-list {
  border-top: 3px solid #f7f7f7;
  li {
    border-bottom: 2px solid #f7f7f7;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    .subject-n {
      float: left;
      width: 84px;
      text-align: left;
      font-weight: normal;
      strong {
        background: #f1f1f1;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 14px;
      }
    }
    .subject-t {
      float: left;
      width: 700px;
      text-align: left;
    }
    .subject-d {
      float: right;
      width: 210px;
      text-align: right;
      color: #666;
    }
  }
  li a:hover,
  li.active a{
    .subject-n {
      strong {
        background: #e24333;
        color: #fff;
      }
    }
    .subject-t {
      color: #e24333;
    }
    .subject-d {
      color: #e24333;
    }
  }
}

.flow-main-list{
  position: relative;
  z-index: 10;
  overflow: hidden;
  margin-top: 40px;
  li.item{
    width: 250px;
    float: left;
    text-align: center;
    img,
    a.name,
    span.num,
    p.txt{
      margin: 0 auto;
      display: block;
    }
    p.txt{
      color: #878787;
      font-size: 12px;
      text-align: left;
      line-height: 24px;
      width: 160px;
      margin: 16px auto;
    }
    a.name{
      font-size: 16px;
      margin: 20px 0;
      display: block;
    }
    span.num{
      display: block;
      background: #ccc;
      width: 30px;
      height: 30px;
      border-radius: 20px;
      line-height: 30px;
      font-weight: bold;
      color: #fff;
    }
  }
}

.line-auto{
  height: 1px;
  background: #f1f1f1;
  position: relative;
  font-size: 0;
  margin: 0;
  line-height: 0;
  top: 150px;
  z-index: 2;
}
.filtrate{
  height: 40px;
  border-bottom: 1px solid #f1f1f1;
  .sel-item{
    float: left;
    margin-right: 10px;
  }
}

.tip{
  width: 100%;
  height: 48px;
  background: #fdfce9;
  border: 1px solid #faedd0;
  border-radius: 4px;
  line-height: 48px;
  color: #8a6d45;
  font-size: 14px;
  margin: 20px 0;

  p{
    margin: 0 0 0 5px;
  }
}

.mt10{
  margin-top: 10px;
}

.mt20{
  margin-top: 20px;
}

.school-eval {
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
  .eval-left{
    width: 454px;
    float: left;
    margin-left: 40px;
    border: 1px solid #e7e7e7;
    img{
      width: 100%;
    }
    h3, h6{
      font-size: 14px;
      color: #333;
      text-align: center;
      margin: 5px 0;
    }
  }

  .eval-right{
    width: 358px;
    float: right;
    margin-right: 50px;

    .score{
      width: 355px;
      height: 46px;
      background: url("../images/school-eval-input.png") no-repeat left top;

      label{
        line-height: 46px;
        text-align: center;
        padding: 0 20px;
      }

      input{
        width: 230px;
        height: 44px;
        margin-left: 40px;
        line-height: 44px;
        background: transparent;
      }
    }

    .indent {
      .ident-code {
        display: inline-block;
        width: 231px;
        height: 46px;
        background: url("../images/school-yzm-input.png") no-repeat left top;
        label{
          line-height: 46px;
          text-align: center;
          padding: 0 20px;
        }

        input{
          width: 120px;
          height: 44px;
          line-height: 44px;
          margin-left: 15px;
          background: transparent;
        }
      }

      a {
        float: right;
        img{
          width: 120px;
          height: 46px;
        }
      }
    }
    
    .category{
      width: 100%;

      label{
        line-height: 80px;
        text-align: center;
        float: left;
      }

      .group-radio {
        overflow: hidden;
        li{
          float: left;
          width: 50%;
          &.tar{
            text-align: right;
          }
        }
        span {
          display: inline-block;
          width: 100px;
          line-height: 40px;
          text-align: left;
        }
        input[type="radio"] {
          width: 20px;
          height: 20px;
          position: relative;
          top: 5px;
        }
      }
    }

    .submit{
      input {
        width: 100%;
        line-height: 46px;
        color: #fff;
        background-color: #e24333;
        border-radius: 4px;
      }
    }
  }
}