@charset "utf-8";

@import "../../common/styles/comm.scss";

.mt20{
  margin-top: 20px;
}
.mt60{
  margin-top: 60px;
}

h1{
  font-size: 30px;
  color: #333;
  margin-top: 40px;
  font-weight: 400;
}

.info-content{
  height: 232px;
  position: relative;
  .collect{
    position: absolute;
    top:0;
    right:0;
  }
  img{
    width: 338px;
    height: 100%;
  }

  .info{
    height: 100%;
    ul {
      overflow: hidden;
      padding-left: 50px;
      li{
        float: left;
        width: 45%;
        height: 30px;
        line-height: 30px;
        margin: 10px 0 0 10px;
        font-size: 16px;
        color: #636363;
        span{
          font-size: 28px;
          color: #eea236;
        }
        &.school-name{
          font-size: 30px;
          color: #444;
          width: 90%;
          margin: 0px 0 10px 10px;
        }
      }
    }
  }
}

.tabs-content{
  width: 100%;
  border: 1px solid #f1f1f1;
  margin: 20px 0;
  padding: 0 10px;

  .article{
    padding: 30px 0;
    font-size: 14px;
    line-height: 24px;
  }

  h5{
    color:#f00;
  }

  ul {
    width: 100%;
    overflow: hidden;
  }

  li{
    float: left;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 14px;
    color: #555;
  }
}

.tabs-list {
  li{
    cursor: pointer;
  }
}
#openUniversity-table{
  width: 100%;
  margin: 30px auto;
}
#openUniversity-table th,
#openUniversity-table td{
  border: 1px solid #f1f1f1;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
#openUniversity-table td{
  font-weight: normal;
}
#openUniversity-table th{
  background: #f5f5f5;
}
div.tipTxt{
  width: 330px;
  background: #fcf8e3;
  border: 1px solid #faebcc;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  border-radius: 5px;
  margin: 15px 0;
  color: #8a6d3b;
}
div.tipTxt strong{
  margin-right: 10px;
}

.star{
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url('../../consult/images/star.png') no-repeat;
  position: relative;
  top: 2px;
  right: 3px;
}