@charset "utf-8";

@import "../../common/styles/comm.scss";

.mt20 {
  margin-top: 20px;
}

.mt60 {
  margin-top: 60px;
}

h1 {
  font-size: 30px;
  color: #333;
  margin-top: 40px;
  font-weight: 400;
}

.info-content {
  height: 232px;
  img.fl {
    width: 338px;
    height: 100%;
  }

  .info {
    height: 100%;
    ul {
      overflow: hidden;
      padding-left: 50px;
      li {
        float: left;
        width: 45%;
        height: 30px;
        line-height: 30px;
        margin: 5px 0 0 10px;
        font-size: 16px;
        color: #636363;
        span {
          font-size: 26px;
          color: #eea236;
        }
        a.website{
          text-decoration: underline;
          color: #0000AA;
        }
        a.website:hover {
          color: #e24333;
        }
        &.school-name {
          font-size: 25px;
          color: #444;
          width: 90%;
          margin: 0 0 10px 10px;
        }
        &.integet-line {
          width: 100%;
        }
      }
    }
  }
}



#category, #select_batch {
  text-align: right;
  margin-top: 10px;
  button {
    //width: 64px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: #d9534f;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0px 20px;

    &.active {
      background-color: #f0ad4e;
    }
  }
}

.school-table {
  margin-bottom: 20px;
  div, p{
    line-height: 24px;
    font-size: 14px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  p{
    line-height: 1.8;
  }

  tr {
    height: 40px;
    line-height: 40px;
  }

  thead {
    tr {
      background-color: #f5f5f5;
    }
  }

  tbody {
    tr {
      &.active {
        background-color: #f5f5f5;
      }
    }
  }

  td, th {
    border: 1px solid #f1f1f1;
    text-align: center;
    font-size: 14px;
    a {
      color: #e24333;
      cursor: pointer;
    }
    &.name {
      text-align: left;
      padding-left: 10px;
    }
  }

  td {
    color: #555;
  }

  th {
    color: #444;
  }
}


.info-content{
  height: 232px;
  position: relative;
}
.info-content .collect{
  position: absolute;
  top:0;
  right:0;
}

.info-content .collect i{
  display: inline-block;
  width: 17px;
  height: 17px;
  background:url('../../consult/images/collect-icon.png') no-repeat;
  position: relative;
  left:0;
  top: 5px;
  margin: 0 0 0 6px;
}
.info-content .collect:hover i,
.info-content .collect.active i{
  background:url('../../consult/images/collect-icon.png') no-repeat 0 -21px;
}

.star{
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url('../../consult/images/star.png') no-repeat;
  position: relative;
  top: 2px;
  right: 3px;
}
.tabs-content{
  min-height: 800px;
}
.tabs-ui ul {
  display: inline-block;
  margin-top: 15px;
  background: #ececec;
  height: 33px;
  border-radius: 5px;
  padding: 0;
}

.tabs-ui li {
  display: inline-block;
  line-height: 33px;
  height: 33px;
  padding: 0 15px;
  color: #6f6d6d;
  font-size: 16px;
  border-radius: 5px;
}

.tabs-ui li.active {
  background: #e24333;
  color: #fff;
  -moz-box-shadow: 0px 0px 2px #333333;
  -webkit-box-shadow: 0px 0px 2px #333333;
  box-shadow: 0px 0px 2px #333333;
}

.subjectType {
  width: 178px;
  height: 41px;
  border-radius: 5px 5px 0 0;
  background: #ececec;
}

.subjectType label {
  width: 89px;
  height: 41px;
  line-height: 41px;
  display: inline-block;
  text-align: center;
}

.subjectType label.active {
  background: #f5f5f5;
  border-radius: 5px 5px 0 0;
  moz-box-shadow: 2px 0 0 #ccc;
  -webkit-box-shadow: 2px 0 0 #ccc;
  box-shadow: 2px 0 0 #ccc;
}
.school-table div.tipTxt{
  width: 350px;
  background: #fcf8e3;
  border: 1px solid #faebcc;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  border-radius: 5px;
  margin: 15px 0;
  color: #8a6d3b;
}
.school-table div.tipTxt strong{
  margin-right: 10px;
}
.tabs-content p{
  line-height: 28px;
}