@charset "utf-8";

@import "../../common/styles/comm.scss";

*{
  margin: 0;
  padding: 0;
}

.mt20{
  margin-top: 20px;
}
.mt60{
  margin-top: 60px;
}

section:last-child {
  margin-bottom: 50px;
}

.search-content {
  span{
    display: inline-block;
    overflow: hidden;
  }
  input {
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    outline: none;
    float: left;
  }
  a {
    display: inline-block;
    width: 128px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    border:1px solid #cc0001;
    background: url('../../common/images/ask-icon.png') no-repeat 15px center;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    color: #e24d39;
    font-size: 16px;
    padding-left: 16px;
  }
  input[type="text"] {
    width: 265px;
    border:1px solid #cc0001;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 38px;
    padding-left: 10px;
  }
  input[type="button"] {
    width: 90px;
    background: #cc0001 url('../../common/images/search-icon.png') no-repeat 15px center;
    border:1px solid #cc0001;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    padding-left: 10px;
  }
}

.main-body{
  margin: 50px 0;
  width: 100%;
  overflow: hidden;
}

.section-article{
  width: 80%;
  float: left;
  margin-top: 0;
  border-right: 1px solid #F1F1F1;

  h1{
    font-size: 30px;
    color: #333;
    text-align: center;
    height: 40px;
    line-height: 1.8;
    padding: 10px 0;
    border-bottom: 1px solid #F1F1F1;
  }

  h6{
    font-size: 14px;
    color: #999;
    height: 30px;
    line-height: 1;
    text-align: center;
  }

  article {
    width: 100%;
    text-align: center;

    p{
      width: 100%;
      line-height: 1.8;
      text-indent: 1cm;
      margin-top: 10px;
      font-size: 16px;
      color: #666;
      text-align: left;
    }

    img{
      max-width: 100%;
    }
  }
}

.ask-list{
  width: 19%;
  float: left;

  h3{
    width: 95%;
    padding-left: 5%;
    border-bottom: 1px solid #F1F1F1;
    height: 34px;
    line-height: 34px;
    //margin: 30px 0 0 10px;
    margin-top: 30px;
    color: #333;
  }

  ul{
    //margin-left: 10px;
  }

  li{
    width: 95%;
    padding-left: 5%;
    list-style: inside disc;
    margin: 15px 0;
    font-size: 12px;
    color: #444;
  }
}