@charset "UTF-8";
/*
通用variables定义
*/
/*
list base color
*/
.tab-title {
  border-bottom: 1px solid #eaeaea;
  font-size: 16px;
  color: #333333;
}
.tab-title span {
  line-height: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
}
.tab-title .active {
  line-height: 51px;
  border-bottom: 2px solid #0e5952;
  color: #0e5952;
}

.table-list {
  width: 100%;
  margin-top: 10px;
}
.table-list thead tr {
  background-color: #f1f1f1;
}
.table-list .w250 {
  width: 250px;
}
.table-list tr {
  border-bottom: 1px solid #f1f1f1;
}
.table-list th {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.table-list td {
  height: 60px;
  text-align: center;
}
.table-list td th {
  background: #f5f5f5;
}
.table-list .go-pay {
  color: #f3981b;
  text-decoration: underline;
  cursor: pointer;
}

.banner-info {
  height: 110px;
  width: 100%;
  background: #d7efff url(../../img/account-info-banner.png) center center;
}
.banner-info .banner-user {
  position: relative;
}
.banner-info .banner-user .user-avatar {
  position: absolute;
  top: 17px;
  left: 94px;
  width: 74px;
  height: 74px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.banner-info .banner-user .welcome-txt {
  position: absolute;
  top: 28px;
  left: 190px;
  color: #0e5952;
  font-size: 14px;
}
.banner-info .banner-user .btn-vip {
  height: 30px;
  background-color: #f3981b;
  color: #fff;
  border: 1px solid #ffd146;
  position: absolute;
  top: 54px;
  left: 190px;
  padding: 5px 12px;
  border-radius: 2px;
}
.banner-info .banner-user .btn-vip .icon-diamond {
  position: relative;
  top: -1;
  margin-right: 5px;
}
.banner-info .banner-user .user-type {
  position: absolute;
  top: 60px;
  left: 320px;
}
.banner-info .banner-user .user-type .icon-u-avatar {
  position: relative;
  top: -2px;
  margin-right: 3px;
}
.banner-info .banner-user .score-and-school {
  position: absolute;
  top: 60px;
  right: 0;
}
.banner-info .banner-user .score-and-school .icon-u-account, .banner-info .banner-user .score-and-school .icon-school {
  margin-right: 3px;
  position: relative;
  top: -1px;
}
.banner-info .banner-user .score-and-school .icon-school {
  margin-left: 20px;
}

.main-container {
  margin-top: 30px;
}
.main-container .sidebar {
  font-size: 15px;
  width: 250px;
  margin-right: 25px;
  margin-bottom: 50px;
  float: left;
  font-family: "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, Verdana, "Microsoft Yahei", sans-serif;
  background: #fff url("../../img/user-sidebar-middle.png");
}
.main-container .sidebar li {
  cursor: pointer;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 88%;
  border-bottom: 1px solid #f5f5f5;
  margin-left: 19px;
}
.main-container .sidebar li:hover {
  font-weight: 700;
  color: #0E5952;
}
.main-container .sidebar li .triangle-r {
  display: none;
  width: 0;
  height: 0;
  margin-left: 4px;
  vertical-align: middle;
  border-bottom: 8px dashed transparent;
  border-top: 8px solid \9 ;
  border-top: 8px solid transparent;
  border-left: 8px solid #0E5952;
  border-bottom: 8px solid transparent;
  position: absolute;
  top: 13px;
  left: 213px;
  z-index: 99;
}
.main-container .sidebar .active {
  border-right: 3px solid #0e5952;
  position: relative;
  right: -3px;
  font-weight: 700;
  color: #0e5952;
}
.main-container .sidebar .active .triangle-r {
  display: block;
}
.main-container .sidebar .side-top {
  background: #fff url("../../img/user-sidebar-top.png");
  height: 30px;
}
.main-container .sidebar .side-bottom {
  background: #fff url("../../img/user-sidebar-bottom.png");
  height: 120px;
}

/*
账号信息模块
========================================
*/
.main {
  font-family: "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, Verdana, "Microsoft Yahei", sans-serif;
  float: left;
  width: 725px;
}
.main .form-group {
  margin-bottom: 20px;
}
.main .user-img-upload {
  position: relative;
}
.main .user-img-upload .avatar {
  width: 120px;
  height: 120px;
  margin: 0 25px 25px 0;
}
.main .btn-upload {
  position: absolute;
  top: 0;
  left: 150px;
  background-color: #65c88f;
  padding: 6px 10px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
}
.main .tips-txt {
  position: absolute;
  top: 40px;
  left: 150px;
}
.main .user-info-list {
  font-size: 14px;
}
.main .user-info-list .account-number {
  padding: 0 15px;
  margin-bottom: 25px;
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
  border: 1px solid #f1f1f1;
}
.main .user-info-list .account-number b {
  margin-right: 20px;
}
.main .user-info-list .account-number .modify-pwd {
  display: block;
  float: right;
  color: #ff3333;
  text-decoration: underline;
  cursor: pointer;
}
.main .btn-submit {
  background-color: #0e5952;
  padding: 8px 50px;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

/*
VIP特权模块
========================================
*/
.vip-module .vip-banner {
  background-color: #74b5f9;
}
.vip-module h3 {
  font-size: 18px;
  color: #0e5952;
}
.vip-module .row-box .online-upgrade, .vip-module .row-box .online-card-upgrade {
  width: 340px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  float: left;
  padding: 10px 25px 25px 25px;
  box-sizing: border-box;
}
.vip-module .row-box .online-upgrade .title, .vip-module .row-box .online-card-upgrade .title {
  text-align: center;
  font-size: 20px;
  color: #666666;
}
.vip-module .row-box .online-upgrade .icon-user-vip, .vip-module .row-box .online-card-upgrade .icon-user-vip {
  position: relative;
  top: -2px;
  margin-right: 3px;
}
.vip-module .row-box .online-upgrade select, .vip-module .row-box .online-card-upgrade select {
  border-radius: 0 !important;
  border: none;
}
.vip-module .row-box .online-upgrade .form-control, .vip-module .row-box .online-card-upgrade .form-control {
  border: none;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
}
.vip-module .row-box .online-upgrade .form-control .pay, .vip-module .row-box .online-card-upgrade .form-control .pay {
  color: #ff3333;
  font-size: 24px;
  margin-right: 5px;
}
.vip-module .row-box .online-upgrade .input-group, .vip-module .row-box .online-card-upgrade .input-group {
  border: 1px solid #e4f0ff;
}
.vip-module .row-box .online-upgrade .input-group-addon, .vip-module .row-box .online-card-upgrade .input-group-addon {
  border: none;
  background-color: #fff;
}
.vip-module .row-box .online-upgrade .btn-yellow, .vip-module .row-box .online-card-upgrade .btn-yellow {
  width: 100%;
  text-align: center;
  background-color: #f3981b;
  color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 1px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.vip-module .row-box .online-card-upgrade {
  margin-left: 45px;
}
.vip-module .row-box .online-card-upgrade .icon-user-card {
  position: relative;
  top: -2px;
  margin-right: 3px;
}
.vip-module .row-box .col-1 {
  float: left;
  width: 165px;
  height: 105px;
  line-height: 105px;
  text-align: center;
  background-color: #efefef;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 700;
  color: #333333;
  position: relative;
}
.vip-module .row-box .col-1 .triangle-t {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #efefef;
  position: absolute;
  bottom: -10px;
  left: 40px;
}
.vip-module .bottom-intro .list {
  width: 130px;
  text-align: center;
  float: left;
  margin: 60px 25px 60px;
}
.vip-module .bottom-intro .list h3 {
  margin: 20px 0 5px;
  font-size: 18px;
  color: #333333;
}

/*
我的收藏模块
========================================
*/
.my-collection .school-data-list {
  float: left;
  width: 730px;
  margin-right: 35px;
}
.my-collection .school-data-list li {
  border-bottom: 1px dashed #ccc;
  position: relative;
  height: 140px;
  font-size: 14px;
  color: #666666;
}
.my-collection .school-data-list li .school-logo {
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: 24px;
  width: 105px;
  height: 105px;
  border-radius: 50%;
}
.my-collection .school-data-list li .comm-position, .my-collection .school-data-list li .top, .my-collection .school-data-list li .middle {
  position: absolute;
  top: 20px;
}
.my-collection .school-data-list li .top {
  left: 148px;
  font-weight: 700;
}
.my-collection .school-data-list li .top .school-name {
  cursor: pointer;
  font-size: 20px;
  color: #333333;
  margin-right: 20px;
}
.my-collection .school-data-list li .top .icon-flag {
  margin-right: 5px;
  position: relative;
  top: -3px;
}
.my-collection .school-data-list li .top .collect {
  color: #666;
  font-size: 14px;
  text-decoration: none;
}
.my-collection .school-data-list li .top .collect .icon-heart {
  margin: 0 5px 0 20px;
  position: relative;
  top: -3px;
}
.my-collection .school-data-list li .middle {
  top: 57px;
  left: 148px;
}
.my-collection .school-data-list li .middle span {
  padding: 1px 3px;
  border-radius: 1px;
  margin-right: 2px;
}
.my-collection .school-data-list li .middle .type-985 {
  color: #18a4a4;
  border: 1px solid #18a4a4;
}
.my-collection .school-data-list li .middle .type-211 {
  color: #38abf3;
  border: 1px solid #38abf3;
}
.my-collection .school-data-list li .middle .type-yan {
  color: #4bc37e;
  border: 1px solid #4bc37e;
}
.my-collection .school-data-list li .middle .type-zi {
  color: #5ca9f0;
  border: 1px solid #5ca9f0;
}
.my-collection .school-data-list li .middle .type-guo {
  color: #5bc3f4;
  border: 1px solid #5bc3f4;
}
.my-collection .school-data-list li .middle .type-zhuo {
  color: #33cccc;
  border: 1px solid #33cccc;
}
.my-collection .school-data-list li .middle .btn {
  padding: 3px 4px;
  color: #fff;
  outline: none;
}
.my-collection .school-data-list li .middle .cancel-collection {
  background-color: #53d094;
  position: absolute;
  right: -400px;
  top: 0;
}
.my-collection .school-data-list li .bottom {
  position: absolute;
  top: 100px;
  left: 148px;
}
.my-collection .school-data-list li .bottom .icon-location, .my-collection .school-data-list li .bottom .icon-web {
  position: relative;
  top: -2px;
}
.my-collection .school-data-list li .bottom .province, .my-collection .school-data-list li .bottom .belong, .my-collection .school-data-list li .bottom .school-type {
  margin-right: 15px;
}
.my-collection .school-data-list li .bottom .enter-site {
  color: #666;
  font-size: 14px;
  text-decoration: none;
}
.my-collection .subject-data-list li {
  padding: 22px 0;
  border-bottom: 1px dashed #eaeaea;
  position: relative;
  overflow: hidden;
}
.my-collection .subject-data-list li .subject-logo {
  float: left;
  width: 180px;
  height: 110px;
  margin-right: 10px;
}
.my-collection .subject-data-list li .about-subject {
  float: left;
  color: #999999;
}
.my-collection .subject-data-list li .about-subject .subject-name {
  cursor: pointer;
  margin: 0;
  color: #333333;
  font-size: 16px;
}
.my-collection .subject-data-list li .about-subject .teacher-name {
  line-height: 28px;
}
.my-collection .subject-data-list li .about-subject .icon-subject-person {
  position: relative;
  top: -1px;
}
.my-collection .subject-data-list li .about-subject .join {
  display: inline-block;
  margin-top: 14px;
  color: #66c78f;
}

/*
我的回答模块
========================================
*/
.my-answer .tab-title .l {
  font-style: normal;
  margin: 0 12px 0 0;
  display: inline-block;
}
.my-answer .my-answer-data-list,
.my-answer .no-data-list,
.my-answer .yes-data-list {
  display: none;
  padding: 0;
  font-size: 14px;
}
.my-answer .my-answer-data-list li,
.my-answer .no-data-list li,
.my-answer .yes-data-list li {
  position: relative;
  margin: 18px 0;
  padding-bottom: 20px;
  display: block;
  clear: both;
  border-bottom: 1px dashed #ccc;
}
.my-answer .my-answer-data-list li .avatar-img,
.my-answer .no-data-list li .avatar-img,
.my-answer .yes-data-list li .avatar-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.my-answer .my-answer-data-list li .user-name,
.my-answer .no-data-list li .user-name,
.my-answer .yes-data-list li .user-name {
  color: #53d094;
  position: absolute;
  top: 15px;
  left: 85px;
}
.my-answer .my-answer-data-list li .user-name .no,
.my-answer .no-data-list li .user-name .no,
.my-answer .yes-data-list li .user-name .no {
  position: absolute;
  top: 0;
  cursor: pointer;
  right: -415px;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 12px;
  border: 1px solid #40bca0;
  color: #40bca0;
  background-color: #fff;
}
.my-answer .my-answer-data-list li .time,
.my-answer .no-data-list li .time,
.my-answer .yes-data-list li .time {
  color: #999;
  margin-left: 30px;
}
.my-answer .my-answer-data-list li .title,
.my-answer .no-data-list li .title,
.my-answer .yes-data-list li .title {
  position: absolute;
  top: 43px;
  left: 85px;
}
.my-answer .my-answer-data-list li .content,
.my-answer .no-data-list li .content,
.my-answer .yes-data-list li .content {
  position: relative;
  margin-left: 90px;
  margin-top: 10px;
  margin-bottom: 12px;
  width: 648px;
  padding: 10px 15px 15px;
  border: 1px solid #dcdcdc;
  line-height: 22px;
  border-radius: 2px;
}
.my-answer .my-answer-data-list li .content .txt,
.my-answer .no-data-list li .content .txt,
.my-answer .yes-data-list li .content .txt {
  color: #666;
}
.my-answer .my-answer-data-list li .content .eg,
.my-answer .no-data-list li .content .eg,
.my-answer .yes-data-list li .content .eg {
  margin: 0;
  line-height: 26px;
  color: #f3981b;
}
.my-answer .my-answer-data-list li .content .triangle,
.my-answer .no-data-list li .content .triangle,
.my-answer .yes-data-list li .content .triangle {
  position: absolute;
  background-color: #fff;
  top: -7px;
  left: 20px;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 12px;
  height: 12px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.my-answer .my-answer-data-list li .yes,
.my-answer .no-data-list li .yes,
.my-answer .yes-data-list li .yes {
  position: absolute;
  top: 84px;
  left: 12px;
  color: #fff;
  background-color: #ffc766;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 12px;
}

/*
我要预约模块
========================================
*/
.my-order .btn-order {
  background-color: #65c88f;
  color: #fff;
  padding: 9px 20px;
  margin-left: 10px;
}

/*
目标定位模块
========================================
*/
.target-location .section1 {
  background-color: #fcfcfc;
  border: 1px solid #f8f8f8;
}
.target-location .section1 .target-title-banner {
  margin-bottom: 40px;
  vertical-align: middle;
  height: 100px;
  line-height: 100px;
  width: 100%;
  text-align: center;
  background: url("../../img/target-item-banner.png");
}
.target-location .section1 .target-title-banner span {
  font-size: 24px;
  color: #40bca0;
}
.target-location .section1 .target-item {
  margin: 0 auto;
  width: 385px;
}
.target-location .section1 .target-item .form-group {
  margin-bottom: 20px;
  border: 1px solid #ccc;
}
.target-location .section1 .target-item .form-control, .target-location .section1 .target-item .input-group-addon {
  background: #fff;
  border: none;
}
.target-location .section1 .btn-target-location {
  width: 100%;
  color: #fff;
  background-color: #65c88f;
}
.target-location .section1 .tips {
  margin-bottom: 80px;
  margin-top: 10px;
}
.target-location .section2 {
  color: #666666;
}
.target-location .section2 .title-info {
  border-bottom: 2px solid #65c88f;
  margin-bottom: 15px;
  position: relative;
}
.target-location .section2 .title-info h3 {
  margin-left: -10px;
  font-size: 18px;
}
.target-location .section2 .title-info .icon-star {
  position: relative;
  top: -4px;
}
.target-location .section2 .title-info .wl {
  margin-right: 50px;
}
.target-location .section2 .title-info .btn-recommend {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #65c88f;
  color: #fff;
  padding: 6px 8px;
}
.target-location .section2 .about-target-content {
  overflow: hidden;
}
.target-location .section2 .about-target-content .user-target-img {
  float: left;
}
.target-location .section2 .about-target-content .target-content {
  width: 350px;
  float: left;
  color: #666;
  margin-left: 20px;
  line-height: 28px;
  margin-top: 10px;
}
.target-location .section2 .about-target-content .target-content .txt {
  font-size: 18px;
  color: #f3981b;
}
.target-location .section2 .about-target-content .target-content .txt-link {
  text-decoration: underline;
  font-size: 14px;
  color: #f3981b;
}
.target-location .section2 .about-target-content .target-content .person-num, .target-location .section2 .about-target-content .target-content .score {
  font-size: 20px;
}
.target-location .section2 .about-target-content .ago-situation {
  clear: both;
  font-size: 18px;
  line-height: 60px;
}
.target-location .section2 .about-target-content .table-list tr, .target-location .section2 .about-target-content .table-list td {
  border: 1px solid #f1f1f1;
}

/*
服务中心模块
========================================
*/
.service-center a {
  margin: 25px 48px;
  overflow: hidden;
  display: block;
  width: 85px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  float: left;
}
.service-center .module-img {
  display: block;
  float: left;
  height: 85px;
  margin-bottom: 10px;
}

/*
我的报告
========================================
*/
.my-report .table-list tr, .my-report .table-list td {
  border: 1px solid #f1f1f1;
}
.my-report .table-list td {
  height: 45px;
}
.my-report .table-list td a {
  color: #f3981b;
  text-decoration: underline;
}
.my-report .text-primary {
  color: #0e5952;
}
.my-report .txt-attention {
  margin: 20px 10px;
}
