@charset "UTF-8";
/*
通用variables定义
*/
/*
list base color
*/
/*
院校简介
*/
.school-list-banner {
  background-color: #59596a;
  height: 215px;
  margin-top: 30px;
  width: 100%;
}
.school-list-banner .school-info .logo {
  width: 180px;
  background: #fff;
  height: 215px;
  float: left;
  margin-left: 10px;
}
.school-list-banner .school-info .logo .school-avatar {
  height: 115px;
  width: 115px;
  border-radius: 50%;
  margin: 16px 32px;
}
.school-list-banner .school-info .logo .btn {
  padding: 3px 6px;
  color: #fff;
  outline: none;
  font-size: 14px;
}
.school-list-banner .school-info .logo .forecasting {
  background-color: #53d094;
  margin: 0 0 0 18px;
}
.school-list-banner .school-info .logo .set-target {
  background-color: #53d094;
  margin: 0 15px 0 0;
}
.school-list-banner .school-info .info {
  height: 100%;
  width: 800px;
  color: #fff;
  float: left;
  padding: 25px 45px;
  box-sizing: border-box;
}
.school-list-banner .school-info .info .top .school-name {
  margin: 0 40px 0 0;
  font-size: 24px;
  font-weight: 700;
}
.school-list-banner .school-info .info .top i {
  margin: 0 6px;
}
.school-list-banner .school-info .info .top .icon-flag {
  position: relative;
  top: -2;
}
.school-list-banner .school-info .info .top .collect {
  color: #fff;
  text-decoration: none;
}
.school-list-banner .school-info .info .middle {
  margin: 10px 0 15px 0;
}
.school-list-banner .school-info .info .middle span {
  padding: 1px 3px;
  border-radius: 1px;
  margin-right: 2px;
}
.school-list-banner .school-info .info .middle .type-985 {
  color: #fff;
  background-color: #18a4a4;
}
.school-list-banner .school-info .info .middle .type-211 {
  color: #fff;
  background-color: #38abf3;
}
.school-list-banner .school-info .info .middle .type-yan {
  color: #fff;
  background-color: #4bc37e;
}
.school-list-banner .school-info .info .middle .type-zi {
  color: #fff;
  background-color: #5ca9f0;
}
.school-list-banner .school-info .info .middle .type-guo {
  color: #fff;
  background-color: #5bc3f4;
}
.school-list-banner .school-info .info .middle .type-zhuo {
  color: #fff;
  background-color: #33cccc;
}
.school-list-banner .school-info .info .bottom p {
  margin: 10px 0;
}
.school-list-banner .school-info .info .bottom .school-province {
  display: inline-block;
  width: 110px;
}
.school-list-banner .school-info .info .bottom .school-belong {
  display: inline-block;
  width: 200px;
}
.school-list-banner .school-info .info .bottom .school-type {
  display: inline-block;
  width: 120px;
}
.school-list-banner .school-info .info .bottom .school-level {
  display: inline-block;
  width: 110px;
}
.school-list-banner .school-info .info .bottom .school-web {
  display: inline-block;
  width: 200px;
}
.school-list-banner .school-info .info .bottom .school-tel {
  display: inline-block;
  width: 120px;
}
