@charset "utf-8";
@import "../../common/styles/comm";

.personal-tab {
  position: relative;
  margin-top: 20px;
  top: 1px;
  .active {
    a {
      color: $mainRed !important;
    }
  }
}

.content {
  //  height: 700px;
  position: relative;
  .search-content {
    top: -90px;
    right: 0;
    position: absolute;
    margin-top: 20px;
    text-align: right;
    span {
      display: inline-block;
      overflow: hidden;
    }
    input {
      height: 40px;
      line-height: 38px;
      margin: 0;
      padding: 0;
      outline: none;
      float: left;
      font-size: 14px;
    }
    button {
      width: 128px;
      height: 40px;
      text-align: center;
      line-height: 34px;
      border-radius: 5px;
      border: 1px solid #e24333;
      background: url('../../common/images/ask-icon.png') no-repeat 15px center;
      float: left;
      margin-left: 10px;
      color: #e24d39;
      font-size: 16px;
      padding-left: 16px;
    }
    input[type="text"] {
      width: 245px;
      border: 1px solid #e24333;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      height: 38px;
      padding-left: 10px;
    }
    input[type="button"] {
      width: 90px;
      background: #e24333 url('../../common/images/search-icon.png') no-repeat 15px center;
      border: 1px solid #e24333;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #fff;
      padding-left: 10px;
    }
  }

  .input-item-comm {
    margin: 15px 0;
    .w-title {
      width: 100px;
      text-align: right;
      display: inline-block;
      margin-right: 25px;
    }
    .error-tips {
      color: $mainRed;
      font-size: 14px;
      display: inline-block;
      margin-left: 20px;
    }
    .error-bd {
      border: 1px solid $mainRed;
    }
    .des-text {
      font-size: 16px;
      display: inline-block;
      margin-left: 20px;
      color: #999;
    }
    .ke-container {
      margin-left: 130px !important;
      height: 390px;
      width: auto !important;
      margin-top: -15px;
    }
    .ke-edit {
      height: 350px !important;
    }
  }
  .comm-input {
    height: 35px;
    width: 842px;
    border: 1px solid $borderColor;
    border-radius: 3px;
    padding: 0 10px;
  }
  .data-start, .data-end {
    width: 220px;
  }
  .btn-box {
    width: 320px;
    margin: 0 auto;
    .btn-submit {
      margin: 50px 0 60px 25px;
      color: #fff;
      background-color: $mainRed;
      width: 120px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border-radius: 3px;
      font-size: 16px;
      cursor: pointer;
      display: inline-block;
    }
  }

}